@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
/* .navbar-nav{
    background-color: rgb(255, 255, 255);
} */

.navbar .logo{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
}
.navlist li{
    list-style-type: none;
}
.navlist a{
    text-decoration: none;
    
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.navlist a:hover{
    color: rgb(205, 140, 0);  
}